table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.green-btn {
    margin: 10px 5px 0 0;
    color: #FFFFFF;
    background-color: #359077;

    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.green-btn:hover{
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.red-btn {
    margin: 10px 5px 0 0;
    color: #FFFFFF;
    background-color: #ce2c2c;

    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.red-btn:hover{
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.blue-btn {
    margin: 10px 5px 0 0;
    color: #FFFFFF;
    background-color: #3f99e6;

    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.blue-btn:hover{
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

